﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";

    var requestEmailTo = Model.Value<string>("sendEmailTo");
    var requestEmail = Model.Value<string>("emailBody");
    var formatedAccessRequestEmail = requestEmail.Replace(" ", "%20");

    var wc = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "websiteConfiguration");
    var draemail = "";
    if (wc != null)
    {
        draemail = wc.HasValue("registrationMail") ? wc.Value<string>("registrationMail") : "";
    }

    bool investorLoggedIn = User.Identity.IsAuthenticated;
    //investorLoggedIn = false;
    bool hasLoggedIn = false;
    bool hasResetPassword = false;
    bool hasUpdatePassword = false;
    if (investorLoggedIn)
    {
        var memberName = User.Identity.Name;
        Console.WriteLine(memberName);

        // Now we get the first time logged in things
        var member = Services.MemberService.GetByEmail(memberName);
        // Check if we have the first time logged in property
        hasLoggedIn = member.HasProperty("loggedInOnce") ? member.GetValue<bool>("loggedInOnce") : false;
        hasResetPassword = member.HasProperty("hasResetPassword") ? member.GetValue<bool>("hasResetPassword") : false;
        hasUpdatePassword = member.HasProperty("hasUpdatePassword") ? member.GetValue<bool>("hasUpdatePassword") : false;

        if (!hasUpdatePassword)
        {
            Response.Redirect("/investor/update");
        }
    }
}

<!-- Form Styling -->
<link rel="stylesheet" type="text/css" href="/assets/css/form/util.css">
<link rel="stylesheet" type="text/css" href="/assets/css/form/main.css">


<div class="container">
    <div class="row">


        <div class="col-md-12 contact-header-text">

            <h1 class="header-text"><div class="green-highlight">@Model.Value("title")</div></h1>

        </div>
    </div>
</div>

<div class="section" id="login">
    <!-- container -->
    <div class="container">
        <!-- row -->


        <div class="row">
            <div class="col-md-12 roomyLR-20">
                <p>@Model.Value("subTitle")</p>
            </div>
        </div>

        <div class="row roomyT-30">
            <div class="col-md-6 roomyLR-20">

                <form id="loginform" class="contact100-form validate-form flex-sb flex-w">
                    <div class="wrap-input100 rs1 validate-input" data-validate="Email is required: name@web.com">
                        <input id="email" class="input100" type="text" name="email" placeholder="Email Address">
                        <span class="focus-input100"></span>

                    </div>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <input id="password" class="input100" type="text" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="col-md-6">
                        <p style="padding-top: 5px;"><a href="/login/forgot">Forgot password &nbsp; | &nbsp; </a><a id="RequestAccess" href="#">Request access</a></p>
                    </div>
                    <div class="col-md-6">
                        <div class="container-contact100-form-btn">
                            <button id="btn-submit" type="button" class="button button--green button-right button--size-m">LOGIN</button>
                        </div>
                    </div>
                </form>

                @*@using (Html.BeginUmbracoForm<DRAWebsite.Controllers.LoginController>("ValidateMember"))
                    {
                        <div class="contact100-form validate-form flex-sb flex-w">
                            <div class="wrap-input100 rs1 validate-input" data-validate="Email is required: name@web.com">
                                <input id="email" class="input100" type="text" name="email" placeholder="Email Address">
                                <span class="focus-input100"></span>

                            </div>

                            <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                                <input id="password" class="input100" type="text" name="password" placeholder="Password">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="col-md-6">
                                <p style="padding-top: 5px;"><a href="/investor/forgot">Forgot password &nbsp; | &nbsp; Request access</a></p>
                            </div>
                            <div class="col-md-6">
                                <div class="container-contact100-form-btn">
                                    <button type="submit" class="button button--green button-right button--size-m">LOGIN</button>
                                </div>
                            </div>
                        </div>
                    }*@

            </div>
            <div class="col-md-6 roomyLR-20" id="validation" style="display: none;">
                <p style="color: red; padding-top: 20px;">Email and / or password is incorrect, please try again or click on Forgot password</p>
            </div>
        </div>



        <!-- /row -->
    </div>
    <!-- /container -->
</div>


<script>
    $(function () {

        // Set request Access URL
        $('#RequestAccess').on('click', function () {
            var emailinput = $('#email').val();
            window.location.href = 'mailto:@requestEmailTo?subject=New%20Investor%20User%20Request&body=@formatedAccessRequestEmail';
        });

        $('#btn-submit').on('click', function () {
            $('#validation').css('display', 'none');
            var emailinput = $('#email').val();
            var passwordinput = $('#password').val();
            console.log("Submitting request...");
            $.post('/umbraco/surface/login/ValidateMember/', { email: emailinput, password: passwordinput, rememberme: 'false' }, function (r) {
                console.log(r);
                if (r.Success) {
                    $('#validation').css('display', 'none');
                    if (r.Message === "update")
                        window.location.href = "/login/update";    // go to the reset page
                    else if (r.Message === "reset")
                        window.location.href = "/login/reset";    // go to the reset page
                    else
                        location.reload();  // Reload and show the Investor section
                } else
                    $('#validation').css('display', 'block');
            });
        });
    })
</script>