﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DRA Global</title>
    <link rel="stylesheet" href="~/css/gallery/normalize.min.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/assets/fonts/css/all.css">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css/buttons.css" />
    <link rel="stylesheet" type="text/css" href="~/css/HoverCards.css" />

    <link rel="stylesheet" type="text/css" href="~/css/form/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/form/main.css">

    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/tabs.css">


    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet prefetch" href="~/css/gallery/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/gallery/gallery-style.css">


    <link rel="icon" type="image/png" href="~/assets/DRA-Favicon-32x32.png" sizes="32x32">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>

    <!-- For IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="/assets/js/html5.min.js"></script>
          <script src="/assets/js/js-respond.min.js"></script>
        <![endif]-->

</head>

<body>


    @Html.Partial("sections/header")
    @RenderBody()
    @Html.Partial("sections/footer")
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/tabs/main.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.stellar.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/tabs/jquery.min.js"></script>
    <script src="~/assets/js/tabs/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/assets/js/tabs/bootstrap.min.js"></script>
    <script src="~/assets/js/tabs/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/tabs/jquery.stellar.min.js"></script>
    <script src="~/assets/js/tabs/owl.carousel.min.js"></script>
    <script src="~/assets/js/tabs/aos.js"></script>
    <script src="~/assets/js/tabs/scrollax.min.js"></script>
    <script>
			(function() {
				var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
				if(isSafari) {
					document.getElementById('support-note').style.display = 'block';
				}
			})();
    </script>
    <script type="text/javascript" src="~/assets/js/accordion.js"></script>
    @RenderSection("Scripts", false)
<script>
$( ".investor-table:even" ).addClass( "striped" );
</script>
    <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>-->

</body>
</html>
<script>
$('#search-query').keyup(function (e) {
    
      if (e.which == 13) 
      {
          console.log("click");
       window.location.href = "/search/?query=" + $(this).val();
      }
   
});
</script>