﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";

    // Get the GUID in the url
    var memberGuid = Request.QueryString["id"];
}

<!-- Form Styling -->
<link rel="stylesheet" type="text/css" href="/assets/css/form/util.css">
<link rel="stylesheet" type="text/css" href="/assets/css/form/main.css">

<div class="container">
    <div class="row">

        <br>
        <div class="col-md-12 roomyLR-20">

            <h3>@Model.Value("title")</h3>

        </div>
    </div>
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->


        <div class="row">
            <div class="col-md-12 roomyLR-20">
                <p>@Model.Value("subTitle")</p>
            </div>
        </div>

        <div class="row roomyT-30">
            <div class="col-md-6 roomyLR-20">

                <form class="contact100-form validate-form flex-sb flex-w">
                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <input id="password" class="input100" type="text" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs1 validate-input" data-validate="Confirmation password is required">
                        <input id="confirmpassword" class="input100" type="text" name="confirmPassword" placeholder="Confirm Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="col-md-6" id="validation-success">
                        <p style="color: transparent; padding-top: 5px;">Thank you, your password has been successfully updated.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="container-contact100-form-btn">
                            <button id="btn-update" type="button" id="btn-update" class="button button--green button-right button--size-m">Update</button>
                        </div>
                    </div>
                </form>

                @*@using (Html.BeginUmbracoForm<DRAWebsite.Controllers.LoginController>("ResetPassword"))
                    {
                        <div class="contact100-form validate-form flex-sb flex-w">
                            <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                                <input class="input100" type="text" name="password" placeholder="Password">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 rs1 validate-input" data-validate="Confirmation password is required">
                                <input class="input100" type="text" name="confirmPassword" placeholder="Confirm Password">
                                <span class="focus-input100"></span>
                            </div>

                            <div class="col-md-6">
                                <p style="color: #99CA3C; padding-top: 5px;">Thank you, your password has been successfully updated.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="container-contact100-form-btn">
                                    <button type="submit" id="btn-update" class="button button--green button-right button--size-m">Update</button>
                                </div>
                            </div>
                        </div>
                    }*@

            </div>
            <div class="col-md-6 roomyLR-20" id="validation">

                <p style="color: transparent; padding-top: 20px;">Unfortunately your passwords do not match, please try again.</p>

            </div>
        </div>



        <!-- /row -->
    </div>
    <!-- /container -->
</div>
@section Scripts{
    <script>
        $(function () {
            $('#btn-update').on('click', function () {
                var password = $('#password').val();
                var confirmPassword = $('#confirmpassword').val();
                $.post('/umbraco/surface/login/ResetPassword?id=@memberGuid', { email: 'tester@mashlab.co.za', password: password, confirmPassword: confirmPassword, action: 'update' }, function (r) {
                    if (r.Success) {
                        $('#validation-success > p').css('color', '#99CA3C');
                        $('#validation > p').css('color', 'transparent');
                        setTimeout(function () { window.location.href = "/investor"; }, 3000);
                        // Now we have signed the user in and we redirect them to the investor page
                    }
                    else {
                        $('#validation-success > p').css('color', 'transparent');
                        $('#validation > p').css('color', 'red');
                    }
                    console.log(r);
                });
            });
        })
    </script>
}