﻿<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
				<div class="row footer-links">
					<div class="col-lg-4 col-md-4 col-xs-6"><a href="/about/">About</a></div>
						<div class="col-lg-4 col-md-4 col-xs-6"><a href="/markets/">Markets</a></div>
						<div class="col-lg-4 col-md-4 col-xs-6"><a href="/careers/">Careers</a></div>
						<div class="col-lg-4 col-md-4 col-xs-6 roomyT-20"><a href="/expertise/">Expertise</a></div>
						<div class="col-lg-4 col-md-4 col-xs-6 roomyT-20"><a href="media-room.html">Media Room</a></div>
						<div class="col-lg-4 col-md-4 col-xs-6 roomyT-20"><a href="/contact/">Contact</a></div>
					</div>
					<div class="row">
				<div class="col-md-12">
					
						<ul class="footer-social">
							<li><a href="https://www.linkedin.com/company/dra-global/" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="https://twitter.com/DRAGlobal" class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://web.facebook.com/DRAglobal/?_rdc=1&amp;_rdr" class="icon-facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCsBfE1IkUHbuTwvLSXsvNuw" class="icon-youtube"><i class="fab fa-youtube"></i></a></li>
						</ul>
				</div>
						</div>
					
				</div>
				<div class="col-md-3">
						<div class="footer-logo">
							<a href="/"><img src="~/assets/img/DRA-logo-white.png" alt="DRA Global" class="footer-logo"></a>
						</div>	
				</div>
			
				<div class="col-md-4">
				
					Subsidiaries:

					<ul class="footer-subsidiaries-logos">
		
					<li><a href="http://minopex.com//">	<img src="~/assets/img/Minopex-footer-logo.png" alt="Minopex"/></a></li>
					<li><a href="http://www.g-s.com.au/"><img src="~/assets/img/GandS-footer-logo.png" alt="G & S"/></a></li>
							<li><a href="https://www.senet.co.za/"><img src="~/assets/img/senet-footer_logo.png" alt="Senet" /></a></li>
								<li><a href="https://www.met-chem.com/en/"><img src="~/assets/img/dra_metchem-footer-logo.png" alt="DRA Met-Chem"/></a></li>
						</ul>	
					
	
				
				
			<div class="row roomyT-50">
				<div class="col-md-12">
				<div class="footer-legal">		
© @DateTime.Now.Year DRA Global &nbsp; |  <a href="#">Site Map</a>  |  <a href="#">Legal </a> |  <a href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
				</div>
	
			</div>
			<!-- /row -->

		</div>
		<!-- /container -->
	</footer>