﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<header id="header">
        <div id="nav">
            <!-- NAV -->
            <!-- Top Nav -->
            <div id="nav-top">
                <div class="container">
                    <div class="stock">
                        <div class="col-md-6 text-right">DGL - ASX: $1.05 R0.20 (0.05%)</div>
                        <div class="col-md-4 text-right">DGL - JSE: R7.05 R0.20 (0.05%) <small>(Pricing delayed by 20 minutes)</small></div>
                    </div>
                    <div class="col-md-2">
                        <div class="nav-btns">
                            En | Fr | Ru | Sp
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                            <div id="nav-search">
          
                                    <input class="input" name="search" placeholder="SEARCH" id="search-query">
                    
                                <button class="nav-close search-close">
                                    <span></span>
                                </button>
                            </div>
                            <button class="aside-btn hide-desktop"><i class="fa fa-bars"></i></button>
                        </div>
                    </div>
                    <!-- search & aside toggle -->
                    <!-- /search & aside toggle -->
                </div>
            </div>


        </div>
        <!-- /Top Nav -->
        <!-- Main Nav -->


        <div class="container">
            <!-- nav -->

            <div class="col-md-2">
                <!-- logo -->
                <div class="nav-logo">
                    <a href="/" class="logo"><img src="/assets/img/DRA-logo.png" alt=""></a>
                </div>
                <!-- /logo -->
            </div>
            <div class="col-md-10">

                <div id="nav-bottom">
                    @Html.Partial("navs/masternav")
                </div>
            </div>
            <!-- /Main Nav -->
            <!-- Aside Nav -->
            <div id="nav-aside">
                 @Html.Partial("navs/asidenav")
                <button class="nav-close nav-aside-close"><span></span></button>
            </div>
            <!-- /Aside Nav -->
            <!-- /NAV -->
        </div>
</header>
