﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web

@{ var selection = Model.Root().Children.Where(x => x.IsVisible()).ToArray(); }


<ul class="nav-aside-menu">
                    <li><a href="/">Home</a></li>
                    @if (selection.Length > 0)
{
    
        foreach (var item in selection)
        {
            if(item.ContentType.Alias.ToLower() != "modulescontainer")
            {
            var childpages = item.Children().OfTypes("page");
            var childpagescnt = childpages.Count();
            if(childpagescnt > 0){
            
            <li class="has-dropdown">
                        <a>@item.Name</a>
                        <ul class="dropdown">
                            <li><a href="@item.Url">Overview</a></li>
                            @foreach (var sub in childpages) {
                            <li><a href="@sub.Url">@sub.Name</a></li>
                            }
                        </ul>
                    </li>
            
            }
            else{
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>
            }
            
        
            }
        }
    
}

                </ul>