﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@using Umbraco.Web.Models
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}

<div class="section roomyTB-50">
			<!-- container -->
			<div class="container">
				<!-- row -->
	
		<div class="row">
		    @if(node.Value("heading") != ""){
				<div class="col-md-12 roomyLR-20 page-subheader-text">
                                       <h2>
                        <div class="green-highlight-sub">@node.Value("heading")</div>
                    </h2>
				</div>
				}
				</div>
			
				<div class="row">
					<div class="col-md-12">	
					@foreach (var child in node.Children){
					var colour = child.Value("colour");
					    			<button class="accordion" style="background-color:#@colour;"><span>@child.Value("heading")</span></button>
	<div class="panel" style="display: none;">
	
		<div class="row">
			@foreach(var item in child.Children){
    switch(item.ContentType.Alias.ToLower())
    {
        case "genericsection":
        Html.RenderPartial("~/Views/Partials/Modules/generic-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "threecard":
        Html.RenderPartial("~/Views/Partials/Modules/three-card.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "genericcontent":
        Html.RenderPartial("~/Views/Partials/Modules/generic-content.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "marketicons":
        Html.RenderPartial("~/Views/Partials/Modules/market-icons.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "videossection":
        Html.RenderPartial("~/Views/Partials/Modules/videos-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "contentsections":
        Html.RenderPartial("~/Views/Partials/Modules/content-sections.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "leadershipsection":
        Html.RenderPartial("~/Views/Partials/Modules/leadership-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "ctasection":
        Html.RenderPartial("~/Views/Partials/Modules/cta-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
                case "announcementsection":
        Html.RenderPartial("~/Views/Partials/Modules/announcement-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
        case "columnsection":
        Html.RenderPartial("~/Views/Partials/Modules/column-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
                case "gallerysection":
        Html.RenderPartial("~/Views/Partials/Modules/gallery-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
                case "locationsection":
        Html.RenderPartial("~/Views/Partials/Modules/location-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
                case "downloadsection":
        Html.RenderPartial("~/Views/Partials/Modules/download-section.cshtml", null, new ViewDataDictionary { { "id", item.Id } });
        break;
    }
			}
		</div>
		
	</div>
					}

						
	</div>
					
		</div>
		</div></div>
		
		
		
		@section Scripts{
   <script type="text/javascript" src="~/assets/js/accordion.js"></script>
}
  