﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@using Umbraco.Web.Models
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-50">
			<!-- container -->
			<div class="">
			    @if(node.Value("heading") != ""){
                 <div class="container">
                 <div class="row">
				<div class="col-md-12 roomyLR-20 page-subheader-text">
                                       <h2>
                        <div class="green-highlight-sub">@node.Value("heading")</div>
                    </h2>
				</div>
				</div>
				</div>
				}
@node.GetGridHtml(Html, "content")
</div>
</div>