﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-50 animated fadeIn">
		<!-- container -->
		<div class="container">
			<!-- row -->
			@if(node.Value("heading") != ""){
			<div class="row">
				<div class="col-md-12 roomyLR-20 page-subheader-text">
				<h2>
					<div class="green-highlight-sub">@node.Value("heading")</div></h2>
				</div>
				</div>
			}
			<div class="row">
			    @foreach (var child in node.Children){
			  <div class="col-md-4 roomyLR-30">
			<h3>@child.Value("heading") /</h3>
					<p>@child.Value("content")</p>
				@{
                        var img = child.Value<IPublishedContent>("image");
                        var link = child.Value<Link>("link");
                        if (img != null)
                        {
    if (link != null)
    {				<a href="@link.Url" target="@link.Target">	<img src="@img.Url" alt="@img.Value("alt")" class="subs-logos"></a>
    }
    else{
    <img src="@img.Url" alt="@img.Value("alt")" class="subs-logos">
    }
                            
                        }
}		
				
				</div>
				}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>