﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-50 bottom-CTA">
            <!-- container -->
            <div class="container">
                <!-- row -->
                
                <div class="row">
                    <div class="col-md-12 roomyLR-20">
                @{    var link = node.Value<Link>("cTALink");
    if (link != null)
    {				<a href="@link.Url" target="@link.Target" class="button button--green button--size-l button-centered">@node.Value("cTAText")</a>
    }}
                    </div>
                    </div>
            
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>