﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@using Umbraco.Web.Models
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-50 roomyLR-20 animated fadeIn">
        <!-- container -->
        <div class="container">
            @if(node.Value("heading") != ""){
            <div class="row">
                <div class="col-md-12 page-subheader-text">
                                       <h2>
                        <div class="green-highlight-sub">@node.Value("heading")</div>
                    </h2>
                   
                </div>

            </div>
            }
            @if(node.Value("subHeading") != ""){
            <div class="row">
                <div class="col-md-12">
                                       <h3>
                        @node.Value("subHeading") /
                    </h3>
                   
                </div>

            </div>
            }
            <div class="row">
                <article class="gallery">
                    @foreach(var item in node.Children){
                        var typedMediaPickerSingle = item.Value<IPublishedContent>("image");
                        if (typedMediaPickerSingle != null)
                        {
                            <a class="gallery-link" href="@typedMediaPickerSingle.Url">
    <figure class="gallery-image">
      <img src="@typedMediaPickerSingle.Url" alt="@typedMediaPickerSingle.Value("alt")">
  
    </figure>
  </a>
                    }
                         
                    }
                </article>
                
            </div>
</div>
</div>

  <script src="~/assets/js/gallery/modernizr.min.js"></script>
<script src="~/assets/js/gallery/jquery.min.js"></script>
<script src="~/assets/js/gallery/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/gallery/xgrmnr.js"></script>

    <script src="~/assets/js/gallery/index.js"></script>