﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
 @{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}

<div class="section roomyTB-80">
			<!-- container -->
			<div class="container">
				
				<div class="row animated fadeInLeft">
				<div class="col-md-12 roomyLR-20 page-subheader-text">
				@if(node.Value("heading") != ""){
                                       <h2>
                        <div class="green-highlight-sub">@node.Value("heading")</div>
                    </h2>
                   }
				</div>
				</div>
				                   @if(node.Value("subHeading") != ""){
                    				<div class="row animated fadeInLeft">
				<div class="col-md-12 roomyLR-20"><h3>@node.Value("subHeading") /</h3>
					</div></div>
                   }
                   <div class="row roomyT-30 animated fadeIn">
                       @foreach(var child in node.Children){
    if(child.ContentType.Alias.ToLower() == "leaderxl"){
    <div class="row roomyT-30 animated fadeIn">
				<div class="col-md-3 col-xs-8 roomyLR-20">
				    @{
                        var typedMediaPickerSingleXL = child.Value<IPublishedContent>("image");}
                        @if (typedMediaPickerSingleXL != null)
                        {
                            <img src="@typedMediaPickerSingleXL.Url" alt="@child.Value("leaderName")" class="leadership-img-lg">
                        }
</div>
			<div class="col-md-9 roomyLR-20">
			<div class="row roomyT-20">
				<div class="col-md-9">
				<p><strong>@child.Value("leaderName")</strong><br>
@child.Value("jobTitle")</p>
				
				</div>
				<div class="col-md-3 leadership-linkedIn"><a href="@child.Value("linkedinURL")" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></div>
				</div>
				<div class="row roomyT-20">
								<div class="leadership-copy">@child.Value("content")

				</div>
			    </div>
			</div>	
		</div>
				
    }
                       else if(child.ContentType.Alias.ToLower() == "leaderl"){
<div class="col-md-6 roomyLR-20 animated fadeInLeft">
					  <div class="row roomyT-30">
				<div class="col-md-4 col-xs-8 roomyLR-20">
				    @{
                        var typedMediaPickerSingleL = child.Value<IPublishedContent>("image");
                    }
                        @if (typedMediaPickerSingleL != null)
                        {
                            <img src="@typedMediaPickerSingleL.Url" alt="@child.Value("leaderName")" class="leadership-img-md">
                        }
</div>
			<div class="col-md-8 roomyLR-20">
			<div class="row">
				<div class="col-md-9">
				<p><strong>@child.Value("leaderName")</strong><br>
@child.Value("jobTitle")</p>
				
				</div>
				<div class="col-md-3 leadership-linkedIn"><a href="@child.Value("linkedinURL")" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></div>
				</div>
				
				<p class="leadership-copy">@child.Value("contentSide")</p>
				
				</div>
						  
						  <div class="col-md-12">
						@child.Value("contentBottom")
						  
						  </div>
				</div>
				
				</div>
}
else if(child.ContentType.Alias.ToLower() == "leaderm"){
<div class="col-md-6 leadership-roomyB20 roomyT-20">
					<div class="col-md-7 col-xs-6">
					    @{
                        var typedMediaPickerSingleM = child.Value<IPublishedContent>("image");
                    }
                        @if (typedMediaPickerSingleM != null)
                        {
                            <img src="@typedMediaPickerSingleM.Url" alt="@child.Value("leaderName")" class="leadership-img-sm">
                        }
				</div>
					<div class="col-md-5 col-xs-6 leadership-copy leadership-grey-card">
					<strong>@child.Value("leaderName")</strong><br>
@child.Value("jobTitle") <br>
						<a href="@child.Value("linkedinURL")" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a>
						
					</div>
					</div>
}
else if(child.ContentType.Alias.ToLower() == "leaders"){
<div class="col-md-2 roomyT-20">
					<div class="row leadership-mobile">
				<div class="col-md-6 col-xs-4 nopadding">
				    @{
                        var typedMediaPickerSingleS = child.Value<IPublishedContent>("image");
                    }
                        @if (typedMediaPickerSingleS != null)
                        {
                            <img src="@typedMediaPickerSingleS.Url" alt="@child.Value("leaderName")" class="leadership-img-xs">
                        }</div>
					<div class="col-md-6 col-xs-8 leadership-copy leadership-grey-card-xs">
					
					<strong>@child.Value("leaderName")</strong><br>
@child.Value("jobTitle")<br>
						<a href="@child.Value("linkedinURL")" class="leadership-linkedIn-sm"><i class="fab fa-linkedin-in"></i></a>
						
					</div>
				</div>
				</div>
}
    else {}
                       
                       }
                    </div>				
				
				
	
	</div></div>