﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
 @{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="row">
@foreach(var child in node.Children){

if(!child.Value<bool>("size"))
        {
            <div class="col-md-4 roomyT-30 roomyR-50">
	 <h3>@child.Value("locationName")</h3> 
	 <div>@child.Value("address")
	 <p>@child.Value("telNumber")</p>
	 </div>

	 <iframe src="@child.Value("googleMapsLink")" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
	
	
	</div>
        }
else{
<div class="col-md-3 roomyT-30 roomyR-50">
	 <h3>@child.Value("locationName")</h3> 
	 <div>@child.Value("address")
	 <p>@child.Value("telNumber")</p>
	 </div>

	 <iframe src="@child.Value("googleMapsLink")" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
	
	
	</div>
	}
}
	</div>