﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var nodeId = int.Parse(ViewData["id"].ToString());
    var node = Umbraco.Content(nodeId);
    var page = node.Ancestor();
    var projects = page.Children().OfTypes("news");
    var firstnodes = page.Children.OfTypes("news");
    var nodes = page.Children.OfTypes("news").Skip(3).Take(3);

}


<div class="row">
@foreach (var nods in firstnodes){
  <div class="animated fadeInLeft nodes"   style="display:none;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 nopadding">
                <div class="hovereffect">
                    @{ var typedMediaPickerSingle = nods.Value<IPublishedContent>("image");
                        if (typedMediaPickerSingle != null)
                        {
                            <img class="img-responsive" src="@typedMediaPickerSingle.Url" alt="@typedMediaPickerSingle.Value("alt")">
                        }}
                    <div class="overlay">
                            <h2>@nods.Name</h2>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-condensed table-responsive table-content">
  <tbody>
    <tr>
      <td valign="top">Date:  </td>
      <td>@nods.Value("date")</td>
    </tr>
  </tbody>
</table>

<p class="white roomyLR-40">
                              Summary: @nods.Value("summary")...
                                 
                                           </p>
                       <a href="@nods.Url"> <button class="button button--black button--size-m button-centered">
                           READ MORE</button></a>
                    </div>
                </div>
            </div>	
                    
                    </div>
}
		

</div>

@if (projects.Count() > 6)
{
    <div class="section roomyTB-50 bottom-CTA">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 roomyLR-20">
                    <button class="button button--green button--size-m button-centered" id="loadMore">LOAD MORE</button>
                    <button class="button button--green button--size-m button-centered" id="showLess" style="display:none;">SHOW LESS</button>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
}
<script src="~/assets/js/jquery.min.js"></script>
<script>
    $(document).ready(function ()
    {

            var size_li = $(".nodes").size();
            console.log(size_li);
            x=6;
            $('.nodes:lt(' + x + ')').show();

            $('#loadMore').click(function ()
            {
                x= (x+6 <= size_li) ? x+6 : size_li;
                $('.nodes:lt(' + x + ')').show();

                if ($(".nodes:visible").length == size_li)
                {
                    $(this).hide();
                    $('#showLess').show();
                }
            });

            $('#showLess').click(function ()
            {
                x = (x - 3 < 0) ? 6 : x - 3;
                $('.nodes').not(':lt(' + x + ')').hide();
                if ($(".nodes:visible").length <= 6)
                {
                    $('#showLess').hide();
                    $('#loadMore').show();
                }
            });
    });
</script>
