﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
var typedMediaPickerSingle = node.Value<IPublishedContent>("image");
}

        <div class="static-header">
            <div class="container">
                <div class="row">
                    @if(node.Value("heading") != "") {
                    <div class="col-md-12 page-header-text">
                        <h1 class="header-text"><div class="green-highlight">@node.Value("heading")</div></h1>
                    </div>
                    }
                </div>
            </div>
        </div>
        
        		