﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-40">
            <!-- container -->
            <div class="container">
                <!-- row -->
                 @if(node.Value("heading") != ""){
                 <div class="row">
				<div class="col-md-12 roomyLR-20 page-subheader-text">
                                       <h2>
                        <div class="green-highlight-sub">@node.Value("heading")</div>
                    </h2>
				</div>
				</div>
				}

                   <div class="row roomyB-80" id="investor-table">
                       @foreach(var child in node.Children){
                       <div class="col-md-12 investor-table">
      <div class="col-md-1 col-xs-4"> <p>@child.Value("date") </p> </div>
      <div class="col-md-2 col-xs-8"> <p><strong>@child.Value("heading") </strong></p> </div>
      <div class="col-md-9"> <p>@child.Value("content")</p> </div>
                        </div>
                       }
					 </div>
            
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        
@section Scripts {
Test
     <script type="text/javascript" src="/scripts/main.js"></script>
}
   <script>$("#investor-table .investor-table:odd" ).addClass('striped');
   $(document).ready(function() {
       $('#investor-table .investor-table:odd').addClass('striped');
});
   </script> 

        