﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<style>
    .val {
    color:red;
    }
</style>

<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Your message has been sent</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Thank You!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="section roomyTB-80">
		<!-- container -->
		<div class="container">
			<!-- row -->			
			<div class="row roomyT-30">
				<div class="col-md-12 roomyLR-20"><h3>@node.Value("heading") /</h3>
			<form class="contact100-form validate-form flex-sb flex-w" id="general-form">

                <div class="col-md-6">
                    <span class="name val">This field is required</span><br/>
                    <div class="wrap-input100 rs1 validate-input" data-validate="Name is required">
                        <input class="input100" type="text" name="name" placeholder="Full Name" id="fullname">
                        <span class="focus-input100"></span>                                      
                    </div>
                </div>

                <div class="col-md-6">
                    <span class="number val">Invalid contact number</span><br/>
                    <div class="wrap-input100 rs1 validate-input" data-validate="Contact Number is required">
                        <input class="input100" type="text" name="number" placeholder="Contact Number" id="number">
                        <span class="focus-input100 "></span>
                    </div>
                    
                </div>
             
                <div class="col-md-6">
                    <span class="email val">Invalid email address</span><br />
                    <div class="wrap-input100 rs1 validate-input" data-validate="Email is required: name@web.com">
                        <input class="input100" type="text" name="email" placeholder="Email Address" id="email">
                        <span class="focus-input100"> </span>    
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="region val">This field is required</span><br />
                    <div class="wrap-input100 input100-select rs1">
                        
                        <div>
                            <select name="region" class="select-styling s-p-4" id="region">
                                <option value="">Choose Region</option>
                                <option value="AMER">AMER</option>
                                <option value="APAC">APAC</option>
                                <option value="EMEA">EMEA</option>
                            </select>

                        </div>
                        <span class="focus-input100"></span>
                      
                    </div>
                   
                </div>
                <div class="col-md-12">
                    <span class="msg val">This field is required</span>
                    <div class="wrap-input100 validate-input" data-validate="Message is required">
                        <textarea class="input100" name="message" placeholder="Message" id="message" maxlength="200"></textarea>
                        <span class="focus-input100 "></span>
                       
                    </div>
                  
                </div>
                    <div class="row">

                        <div class="col-md-12 m-l-15"><input type="checkbox" name="consent" id="consent"> I consent to receiving communication from DRA</div>
                    </div>
                    <div class="container-contact100-form-btn">
                        <button class="button button--green button-right button--size-m" id="submit-form" type="submit" name="submit">@node.Value("cTAText")</button>
                    </div>
                    <input class="input100" type="text" name="node" placeholder="Full Name" value="@node.Id" style="display:none;" id="node">
</form>
				</div>
				</div>

			<!-- /row -->
		</div>
		<!-- /container -->
</div>
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/validation.js"></script>
<script>

    $(".name").hide();
    $(".number").hide();
    $(".email").hide();
    $(".region").hide();
    $(".msg").hide();
        
    var fullname = $('#fullname').val();
    var contactnumber = $('#number').val();
    var email = $('#email').val();
    var region = $('#region').val();
    var message = $('#message').val();
    var node = $('#node').val();

    var contactHandler = {
        validate: function () {
            var isValid = true;

            if (!IsValidEmail()) {
                isValid = false;
            }

            if (!ValidName()) {
                isValid = false;
            }
            if (!ValidRegion()) {
                isValid = false;
            }
            if (!ValidPhoneNum()) {
                isValid = false;
            }
            if (!ValidMsg()) {
                isValid = false;
            }
            return isValid;
        },
        init: function ()
        {


            $('#general-form').submit(function () {
                if (contactHandler.validate())
                {


                    document.getElementById("submit-form").disabled = true;
                    $.ajax({
                        type: 'POST',
                        url: '/umbraco/surface/form/contactform',
                        data: $(this).serializeArray(),
                        dataType: 'json',
                        complete: function () {
                            document.getElementById("general-form").reset();
                            //$('#formSubmissionModel').modal('show');
                            $('#myModal').modal({ show: true, backdrop: false });
                            document.getElementById("submit-form").disabled = false;
                        }
                    });
                }
                return false;
                document.getElementById("submit-form").disabled = false;

            });


        }
    };

    $(function () {
        contactHandler.init();
    });
</script>