﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-40">
            <!-- container -->
            <div class="container">
                <!-- row -->
                 @if(node.Value("heading") != ""){
                 <div class="row">
				<div class="col-md-12 roomyLR-20 page-subheader-text">
                                       <h2>
                        <div class="green-highlight-sub">@node.Value("heading")</div>
                    </h2>
				</div>
				</div>
				}
				@if(node.Value("subHeading") != ""){
                 <div class="row">
				<div class="col-md-12 roomyLR-20">
                   <h3 class="roomyLR-20">@node.Value("subHeading") /</h3>
				</div>
				</div>
				}
			

                   <div class="row roomyB-80" id="investor-table">
                       @foreach(var child in node.Children){
                        <div class="col-md-12 roomyLR-20 investor-table">
      <div class="col-md-1 col-xs-4"> <p>@child.Value("date") </p> </div>
      <div class="col-md-9 col-xs-8"> <p><strong>@child.Value("heading")</strong></p> </div>
      <div class="col-md-2 text-right">  <a href="#" class="button button--green button--size-s button-centered">@child.Value("cTAText")</a> </div>
                        </div>
                       }
					 </div>
            
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>