﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-80">
		<!-- container -->
		<div class="container">
			<!-- row -->
			
			<div class="row animated fadeIn">
				<div class="col-md-12 roomyLR-20">
			
				<p class="overview-copy">@node.Value("content")
				</p>
				</div>
				</div>
		
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>