﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
<div class="section roomyTB-80">
		<!-- container -->
		<div class="container">
			<!-- row -->
			
			<div class="row roomyB-30">
                	@foreach (var item in node.Children)
    {
    IPublishedContent typedContentPicker = item.Value<IPublishedContent>("link");
<div class="animated fadeInLeft">	
				<div class="col-md-6 roomyLR-20 roomyT-50 roomyB-30 text-center">
					
					  <a href="@typedContentPicker.Url">
   <i class="fas fa-gem market-favicons"></i>
  </a>
                        <h2>@item.Value("marketName") /</h2>
                        
				<p>@item.Value("summary")</p>
				
				@if(typedContentPicker != null)
    {
        <a href="@typedContentPicker.Url" class="button button--green button--size-m button-centered">@item.Value("cTAText")</a> 
    }
                </div>
                </div>
    }
				</div>
					
				
		
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
