﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}

<video autoplay="" muted="" loop="" id="Video">
     @{
                        var typedMediaPickerSingle = node.Value<IPublishedContent>("video");
                        if (typedMediaPickerSingle != null)
                        {
                    
                            <source src="@typedMediaPickerSingle.Url" type="video/mp4">
                        }
}
                                 
        
    </video>
    @if(node.Value("heading") != "") {
                       <div class="video-content">
        <h1 class="header-text"><div class="green-highlight">@node.Value("heading")</div></h1>
    </div>
                    }