﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@using Umbraco.Web.Models
@{
    var nodeId = int.Parse(ViewData["id"].ToString());
    var node = Umbraco.Content(nodeId);
    var searchQuery = Request.QueryString["query"];
}
		<!-- STANDARD SECTION -->
	<div class="section roomyTB-50">
		<!-- container -->
		<div class="container">
			<!-- row -->
			
	<div class="row">
		<div class="col-md-12">
		      @if (!string.IsNullOrEmpty(searchQuery))
              {
			    <h2>Search Results: @searchQuery</h2>
              }
		
		</div>
	</div>
            
	 @{
         var searchItems = Umbraco.ContentQuery.Search(searchQuery, string.Empty);
         List<PublishedSearchResult> itemw = new List<PublishedSearchResult>();
         foreach (var i in searchItems)
         {
             itemw.Add(i);
         }
         List<PublishedSearchResult> distinct = itemw.DistinctBy(x => x.Content.AncestorOrSelf(2).Name).ToList();

         if (distinct.Count() > 0)
         {
             foreach (var item in distinct)
             {

            <div class="row roomyT-30">
        				
        	<div class="col-md-2">
        		<div class="search-blocks">
        			<div class="col-md-12">

                        @if (item.Content.AncestorOrSelf(2).Id == 1086)
                        {
        				     <h4>@item.Content.AncestorOrSelf(1).Name:  </h4> 
                        }
                        else
                        {
        				   <h4>@item.Content.AncestorOrSelf(2).Name:  </h4> 
                        }
        			</div>
        		</div>
        	</div>
			
      <div class="col-md-10">
		  <div class="search-blocks">
			  
		  <div class="col-md-10">
	 <p><strong>@searchQuery</strong> - @item.Content.AncestorOrSelf(2).Value("metaDescription") ...</p>
		</div>
		   <div class="col-md-2">

               @if (item.Content.AncestorOrSelf(2).Id == 1086)
               {
			      <a href="@item.Content.AncestorOrSelf(1).Url" class="button button--green button--size-s button-centered">READ MORE</a>
               }
               else
               {
			     <a href="@item.Content.AncestorOrSelf(2).Url" class="button button--green button--size-s button-centered">READ MORE</a>
               }
			</div>
			  
		  </div>
		</div>
		
    	</div>
             }
         }
         else
         {
            <div class="row roomyT-30">
                <div class="col-md-12">
                    <h1 class="text-center">No Results</h1>
                </div>
             </div>
          }
   }

                <!-- /row -->
            </div>
	<!-- /container -->
</div>
