﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
}
@if(node.Value("heading") != ""){
<div class="nopadding">
        <div class="row animated fadeIn">
            <div class="col-lg-12 green-full-bar">
                <h2>@node.Value("heading")</h2>
            </div>
        </div>
    </div>
    }
<div class="nopadding">
        <!-- container -->
        <!-- row -->
        <div class="row">
             @{var count = 0;}
             @foreach(var child in node.Children){
             
             var hoverClass = "";
             if(count == 0){ hoverClass = "fadeInLeft"; }else if(count == 2) { hoverClass = "fadeInRight"; } else { hoverClass = "fadeIn"; }
             <div class="animated @hoverClass">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 nopadding">
                    <div class="hovereffect">
                             @{
                        var typedMediaPickerSingle = child.Value<IPublishedContent>("image");
                        if (typedMediaPickerSingle != null)
                        {
                            <img class="img-responsive" src="@typedMediaPickerSingle.Url" alt="@typedMediaPickerSingle.Value("alt")">
                        }
}
                   
                        <div class="overlay">

                            <h2>@child.Value("heading") /</h2>
                            <div class="white roomyLR-40">@child.Value("content")</div>
                            <br>
                            @{    var link = child.Value<Link>("cTALink");
    if (link != null)
    {				<a href="@link.Url" target="@link.Target">	<button class="button button--black button--size-m button-centered">@child.Value("cTAText")</button></a>
    }}
                            
                        </div>
                    </div>
                </div>
            </div>
            count++;
             }
            

        </div>

    </div>