﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var nodeId = int.Parse(ViewData["id"].ToString());
var node = Umbraco.Content(nodeId);
var page = node.Ancestor();
var vacancies = page.Children().OfTypes("vacancy");
var firstnodes = page.Children.OfTypes("vacancy").Take(3);
var nodes = page.Children.OfTypes("vacancy").Skip(3).Take(3);
}
@if(vacancies.Count() > 0){
<div class="section roomyTB-80">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row animated fadeIn">			
			@foreach(var item in firstnodes){
			<div class="col-md-4 roomyLR-20">
                        <h3 class="text-center">@item.Name /</h3>
				<p>
Position: @item.Value("position")<br>
Location: @item.Value("location")<br>
@item.Value("summary")

				</p>
                <a href="@item.Url" class="button button--green button--size-m button-centered">READ MORE</a>
                </div>
			}
                </div>
                <hr>
                <div class="row animated fadeIn">			
			@foreach(var item in firstnodes){
			<div class="col-md-4 roomyLR-20">
                        <h3 class="text-center">Job 01 /</h3>
				<p>
Position: Title<br>
Location: South Africa<br>
Eaque ipsa quae ab illo inventore
veritatis et quasi architecto voluptate velit esse
quam nihil molestiae l illum qum fugiat quo
voluptas nulla pariatur?

				</p>
                <a href="job-summary.html" class="button button--green button--size-m button-centered">READ MORE</a>
                </div>
			}
                </div>
                      
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
}
@if(vacancies.Count() > 6){
<div class="section roomyTB-50 bottom-CTA">
            <!-- container -->
            <div class="container">
                <!-- row -->
                
                <div class="row">
                    <div class="col-md-12 roomyLR-20">
                
                            <a href="#" class="button button--green button--size-m button-centered">LOAD MORE</a>
                    </div>
                    </div>
            
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
}
