﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

	<div class="container">
		<div class="row">

			<br>
			<div class="col-md-12 roomyLR-20">

				<h3>FORGOT PASSWORD /</h3>

			</div>
		</div>
	</div>
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->


			<div class="row">
				<div class="col-md-12 roomyLR-20">
					<p>Please enter in your email address and a reset password link will be emailed to you</p>
				</div>
			</div>

			<div class="row roomyT-30">
				<div class="col-md-4 roomyLR-20">

					<form class="contact100-form validate-form flex-sb flex-w">

						<div class="wrap-input100 rs1 validate-input" data-validate="Email is required: name@web.com" style="width: 100% !important">
							<input id="emailinput" class="input100" type="text" name="email" placeholder="Email Address">
							<span class="focus-input100"></span>

						</div>




						<div class="container-contact100-form-btn">
							<button id="btn-reset" type="button" class="button button--green button-right button--size-m">REQUEST RESET</button>
						</div>

					</form>

				</div>
				<div class="col-md-6 roomyLR-20">
					<p style="color: #99CA3C; padding-top: 20px; display: none;" id="validation-success">Thank you, a reset password email has been sent to you on the supplied email address	</p>
					<p style="color: red; padding-top: 20px; display: none;" id="validation-fail">Unfortunately your email is not registered, <a href="#">click here</a> to request access</p>

				</div>
			</div>



			<!-- /row -->
		</div>
		<!-- /container -->
	</div>

<script>
    $(function () {

		$('#btn-reset').on('click', function () {
            var emailInput = $('#emailinput').val();
            $.post('/umbraco/surface/login/ForgotPassword/', { email: emailInput}, function (r) {
                if (r.Success) {
                    $('#validation-success').css('display', 'block');
                    window.location.href = "/investor"; // Now we have signed the user in and we redirect them to the investor page
                }
                else
                    $('#validation-fail').css('display', 'block');
                console.log(r);
            });
        });
    })
</script>