﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

<div class="container">
    <div class="row">

        <br>
        <div class="col-md-12 roomyLR-20">

            <h3>RESET YOUR PASSWORD /</h3>

        </div>
    </div>
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->


        <div class="row">
            <div class="col-md-12 roomyLR-20">
                <p>You have requested a reset of your password, please select a new password you would like to use below.</p>
            </div>
        </div>

        <div class="row roomyT-30">
            <div class="col-md-6 roomyLR-20">

                <form class="contact100-form validate-form flex-sb flex-w">
                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <input id="password" class="input100" type="text" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs1 validate-input" data-validate="Confirmation password is required">
                        <input id="confirmpassword" class="input100" type="text" name="confirmPassword" placeholder="Confirm Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="col-md-6" id="validation-success" style="display: none;">
                        <p style="color: #99CA3C; padding-top: 5px;">Thank you, your password has been successfully updated.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="container-contact100-form-btn">
                            <button id="btn-update" type="button" id="btn-update" class="button button--green button-right button--size-m">Update</button>
                        </div>
                    </div>
                </form>

                @*@using (Html.BeginUmbracoForm<DRAWebsite.Controllers.LoginController>("ResetPassword"))
                {
                    <div class="contact100-form validate-form flex-sb flex-w">
                        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                            <input class="input100" type="text" name="password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 rs1 validate-input" data-validate="Confirmation password is required">
                            <input class="input100" type="text" name="confirmPassword" placeholder="Confirm Password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="col-md-6">
                            <p style="color: #99CA3C; padding-top: 5px;">Thank you, your password has been successfully updated.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="container-contact100-form-btn">
                                <button type="submit" id="btn-update" class="button button--green button-right button--size-m">Update</button>
                            </div>
                        </div>
                    </div>
                }*@

            </div>
            <div class="col-md-6 roomyLR-20" id="validation" style="display: none;">

                <p style="color: red; padding-top: 20px;">Unfortunately your passwords do not match, please try again.</p>

            </div>
        </div>



        <!-- /row -->
    </div>
    <!-- /container -->
</div>
@section Scripts{
    <script>
        $(function () {
            $('#btn-update').on('click', function () {
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();
                $.post('/umbraco/surface/login/ResetPassword/', { email: 'tester@mashlab.co.za', password: password, confirmPassword: confirmPassword }, function (r) {
                    if (r.Success) {
                        $('#validation-success').css('display', 'block');
                        $('#validation').css('display', 'none');
                        window.location.href = "/investor"; // Now we have signed the user in and we redirect them to the investor page
                    }
                    else
                        $('#validation-success').css('display', 'none');
                        $('#validation').css('display', 'block');
                    console.log(r);
                });
            });
        })
    </script>
}