

/*=========================================================
	GENERAL
===========================================================*/

/*----------------------------*\
	typography
\*----------------------------*/

body {
  font-family: 'Muli', sans-serif; font-size: 15px; color: #000; font-weight: 400; overflow-x: hidden;
}

img { -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.container { width: 95%; 
}

/*----------------------------*\
	5 column span
\*----------------------------*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}




h1, h2, h3, h4, h5, h6 { color: #11151c; font-weight: 600; margin: 0px 0px 25px; text-transform: uppercase;
}

h1 { font-size: 40px;
}

h2 { font-size: 24px;
}

h3 {font-size: 20px;
}

h4 {font-size: 16px;
}

.centered-image {margin: 0 auto; display: block;}


hr {margin: 50px 0px; }
.back-highlight { background-color: #99CA3C ; padding: 0 8px; }
.back-highlight-full { background-color: #99CA3C ; padding: 15px 8px 1px 20px; max-height: 50px; }


.green-highlight { display: inline-block; background: #99CA3C; padding: .2em .5em .3em 1.5em; position: relative; color: #fff; text-transform: uppercase; white-space: nowrap;	 margin-right: 0em;
        }
.green-highlight:after { content: ""; position: absolute; display: block; background: #99CA3C; width: 0.7em; height: 100%; top: -.0em; -webkit-transform-origin: bottom left; -moz-transform-origin: bottom left; transform-origin: bottom left;
	    }
.green-highlight:after { right: -.125em; -webkit-transform: skewX(-20deg); -moz-transform: skewX(-20deg); transform: skewX(-20deg); border-left: none;
	    }


.green-highlight-sub { display: inline-block; background: #99CA3C; padding: .4em .5em .4em 2.6em; position: relative; color: #fff; text-transform: uppercase; white-space: nowrap;	 margin-right: 0em;
        }
.green-highlight-sub:after { content: ""; position: absolute; display: block; background: #99CA3C; width: 0.8em; height: 100%; top: -.0em; -webkit-transform-origin: bottom left; -moz-transform-origin: bottom left; transform-origin: bottom left;
	    }
.green-highlight-sub:after { right: -.125em; -webkit-transform: skewX(-20deg); -moz-transform: skewX(-20deg); transform: skewX(-20deg); border-left: none;
	    }

.green-full-bar {
	background: #99CA3C; width: 100%; }


.green-full-bar h2 {color: #fff; padding-left: 50px; padding-top: 10px; margin-bottom: 15px;}

@media only screen and (max-width: 767px) {
	
	.green-full-bar {padding-bottom: 1px;}
	h4 {padding: 15px 0 0 0px;
}
}

p {margin: 0px 0px 20px;
}

a {color: #11151c; -webkit-transition: 0.2s color; transition: 0.2s color; 
}

a:hover, a:focus { color: #99CA3C; text-decoration: none; outline: none;
}


th, td { font-size: 0.9em;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
	border-top: 1px solid #ddd;}

.table-striped tr:nth-child(odd) {
  background-color: #F7F7F7;
}

ul, ol { margin: 0; padding: 0; list-style: none
}

ul.list-style, ol.list-style { padding-left: 15px; margin-bottom: 10px;
}

ul.list-style { list-style-type: disc;
}

ol.list-style { list-style-type: decimal;
}


.list, .list-black ul { margin: 0;
}

.list li { margin: 0.3em; margin-left: 4em; font-size: 0.9em; }

.list-black li { margin: 0 0.7em 0.7em 1.5em; font-size: 0.9em; }
.list-circle li { margin: 0.7em; margin-left: 1.5em; font-size: 0.95em; }

@media only screen and (max-width: 767px) { 
	.list-black li { margin: 0.7em; margin-left: 3em;}
}

.list li:before {
  content: '\f068';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #fff;
	font-size: 0.7em;
	padding-top: 5px;
}
.list-black li:before {
  content: '\f068';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #000;
	font-size: 0.7em;
	padding-top: 5px;
	padding-right: 5px;
}

.list-circle li:before {
  content: '\f111';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #000;
	font-size: 0.4em;
	padding-top: 6px;
	padding-right: 8px;
}

.link {
  font-size: 0.45em;
}


.market-icons {
	    display: block;
    max-width: 60%;
    height: auto;
	margin-left: auto;
  margin-right: auto;
}

.market-favicons {
	font-size: 5em;
	border: 2px solid #99CA3C;
    padding:30px 25px 25px 30px;
    border-radius: 50%;
	margin-bottom: 25px;
	color: #99CA3C;
}

.market-favicons:hover {background: #99CA3C; color: #fff; -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out; }

/*
.market-icons {
    display: block;
    width: 200px;
    height: 200px;
    background: url(../img/icons/diamonds_A.png) no-repeat;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.market-icons:hover {
    background: url(../img/icons/diamonds_B.png)
}


*/
.white {color: #fff}

.bottom-CTA {
	background-color: #F7F7F7;
	border-top: thin solid #000;
}

.subs-logos {
	padding-bottom: 30px;
	width: 60%;
	margin: 0 auto; display: block;
}

.subs {
	
	min-height: 350px;
}

.overview-copy {
	font-size: 1.8rem;
	text-align: center;
}


/*----------------------------*\
	SECTION
\*----------------------------*/

.section { padding-top: 30px;
}

.section-row { margin-bottom: 30px;
}

/*
.card-section {margin-bottom: 30px; clear: both;} */

/*----------------------------*\
	ROOMY
\*----------------------------*/

.roomyTB-100 { padding: 100px 0 30px;}


.roomyTB-80 { padding: 80px 0 30px;}


.roomyT-50 { padding-top: 50px;}

.roomyTB-50 { padding-top: 50px; padding-bottom: 30px}

.roomyT-20 { padding-top: 20px;}

.roomyT-30 { padding-top: 30px;}

.roomyB-20 { padding-bottom: 20px;}

.roomyB-30 { padding-bottom: 30px;}

.roomyB-80 { padding-bottom: 80px;}

.roomyLR-10 {padding-left:10px;  padding-right:10px; }
.roomyLR-20 {padding-left:20px;  padding-right:20px; }
.roomyLR-30 {padding-left:30px;  padding-right:30px; }
.roomyLR-40 {padding-left:40px;  padding-right:40px; }

.roomyR-20 {padding-right:20px; }
.roomyR-30 {padding-right:30px; }
.roomyR-50 {padding-right:50px; }

/*----------------------------*\
	BUTTON
\*----------------------------*/

.primary-button, .secondary-button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-button {
  background-color: #99CA3C;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #99CA3C inset;
  box-shadow: 0px 0px 0px 2px #99CA3C inset;
}

.secondary-button {
  background-color: #353535;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #353535 inset;
  box-shadow: 0px 0px 0px 2px #353535 inset;
}

.primary-button:hover, .primary-button:focus {
  background-color: transparent;
  color: #99CA3C;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: transparent;
  color: #353535;
}



/*----------------------------*\
	LEADERSHIP
\*----------------------------*/
.leadership-img-lg { width: 90%; height: auto;}


.leadership-img-md { width: 100%; height: auto;}

.leadership-img-sm { width: 225px; height: 295px;}

.leadership-img-xs { width: 120px; height: 160px; float:right;}

.leadership-grey-card {background-color: #F7F7F7; height: 295px;}
.leadership-grey-card-xs {background-color: #F7F7F7; height: 160px; font-size: 0.8em;}
.leadership-bigger-name {font-size: 1.2em;}

.leadership-linkedIn { text-align: right}
.leadership-linkedIn-sm{ font-size: 1.1em; color: #99CA3C; line-height: 30px; }
.leadership-linkedIn-sm:hover { color: #353535;}

.leadership-copy { padding-top: 10px;}
.leadership-mobile {padding-top: 2px;}
.leadership-roomyB20 {padding-bottom:2px; }

@media only screen and (max-width: 767px) {
	
	.leadership-linkedIn { text-align: left}
	.leadership-copy { padding-top: 30px;}
	.leadership-mobile {margin-top: 20px !important;}

	.leadership-roomyB20 {padding-bottom:30px; }
	
}

/*----------------------------*\
	INVESTOR
\*----------------------------*/

/*
.striped tr:nth-child(even) {background-color: #F7F7F7;}

.striped div:nth-child(even) {background-color: #fff;}
.striped div:nth-child(odd) {background-color: #F7F7F7;}
*/

.investor-table {font-size: 0.85em; padding-top: 15px; }
.investor-table div {padding: 10px 0 0;}
@media only screen and (max-width: 767px) {.investor-table div {padding: 10px 0 ;}
	.table-responsive {border: 0px; margin-left: 15px}
}
.striped {background-color: #F7F7F7;
	}




/*----------------------------*\
	SEARCH and MEDIA ROOM
\*----------------------------*/


.search-blocks { background-color: #F7F7F7; padding: 15px 10px 0px 10px; border: thin solid #99CA3C; display: inline-block; width: 100%; min-height: 60px; }

.search-blocks strong {text-transform: uppercase; }
.search-blocks h4 {margin: 0px 0px 15px 0px; padding-top: 2px;}

@media only screen and (max-width: 767px) {
	.search-blocks { height: auto; padding-bottom: 15px; text-align: center; margin-bottom: 10px;}
}

.grey-bg {
	background-color: #F7F7F7; padding: 10px 10px 10px 15px; margin-left: -10px;}



/*----------------------------*\
	SOCIAL ICONS
\*----------------------------*/
.icon-linkedin { color: #99CA3C; font-size: 2rem;
}

.icon-linkedin:hover { color: #353535; }

.icon-facebook { color: #fff; 
}

.icon-twitter { color: #fff; 
}

.icon-youtube { color: #fff; 
}



/*=========================================================
	NAVIGATION
===========================================================*/
/*
#nav {
  border-bottom: 1px solid #e8eaed;
}*/

#nav:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#nav.shadow-active:after {
  opacity: 1;
  visibility: visible;
}

#nav-top {
  text-align: center;

}

#nav-top>.container {
  position: relative;
}

#nav-bottom {
  /*border-top: 1px solid #e8eaed;*/
	margin-top: -20px;
}

/*----------------------------*\
	social
\*----------------------------*/

.nav-social {
  float: left;
  padding: 10px 0px;
}

.nav-social li {
  display: inline-block;
}

.nav-social li a {
  display: block;
  padding: 15px;
  line-height: 20px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*----------------------------*\
	logo
\*----------------------------*/



.nav-logo .logo {  height: 100px;padding-bottom: 5px;     
}

.nav-logo .logo>img { width: 90%; max-height: 70px;margin-top: -20px;
}

/*----------------------------*\
	search
\*----------------------------*/

.nav-btns { float: right; padding: 0px 0px 10px; margin-right: -50px; margin-top: -10px;
}

.nav-btns>button { width: 40px; height: 40px; line-height: 40px; text-align: center; border: none; background: transparent;
}

#nav-search { position: fixed; top:100px; left: 50%; -webkit-transform: translate(-50%, 10px); -ms-transform: translate(-50%, 10px); transform: translate(-50%, 10px); opacity: 0; visibility: hidden; /* max-width: 960px; */ width: 100%; height: 100%; padding: 150px 5%; background: rgba(0,0,0,0.8); z-index: 999; -webkit-transition: 0.2s all; transition: 0.2s all;
}

#nav-search.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

#nav-search form .input {
  height: 80px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding: 15px 25px;
	width: 80%
}

/*----------------------------*\
	menu
\*----------------------------*/

.nav-menu {
  position: relative;
  text-align: right;
  float: none;
}

.nav-menu>li {
  float: none;
  display: inline-block;
}

.nav-menu>li>a {
  display: block;
  padding: 25px 10px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
	
}

.nav-menu>li>a:active {color: #99CA3C;}

/*----------------------------*\
	dropdown
\*----------------------------*/

.nav-menu li.has-dropdown {
  position: relative;
}

.nav-menu li.has-dropdown>a:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  margin-left: 6px;
	font-size: 0.9em;
}


.nav-menu li.has-dropdown>.dropdown {
  position: absolute;
  right: 0;
  min-width: 400px;
  text-align: center;
  z-index: 60;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.nav-menu li.has-dropdown:hover>.dropdown {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.nav-menu li.has-dropdown>.dropdown .dropdown-body {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #99CA3C;
}

.dropdown .dropdown-list li {
  border-bottom: 1px solid #e8eaed;
}

.dropdown .dropdown-list li a {
  display: block;
  padding: 10px;
  line-height: 20px;
}

.dropdown .dropdown-heading {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 6px;
  line-height: 18px;
	text-align: center;
	font-weight: 600;
	padding-top: 6px;
	
}

/*----------------------------*\
	Horizontal DROPDOWN
\*----------------------------*/

.nav-menu li.has-dropdown.megamenu {
  position: static;
}

.nav-menu li.has-dropdown.megamenu>.dropdown {
  width: 95%;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-body {
  padding: 15px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list {
  margin-bottom: 15px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list li a {
  padding-left: 0px;
  padding-right: 0px;
}

/*----------------------------*\
	tab dropdown
\*----------------------------*/

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-content {
  z-index: 70;
  position: relative;
  margin-left: -30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav {
  background-color: #1b1c1e;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 60;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li {
  border-bottom: 1px solid #323335;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active {
  background: #99CA3C
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active a {
  color: #fff;
}

/*----------------------------*\
	nav aside
\*----------------------------*/


.hide-desktop {
	visibility: hidden;
}

#nav-aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b1c1e;
  max-width: 360px;
  width: 100%;
  padding: 80px 20px;
  overflow-y: scroll;
  z-index: 99;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
}

#nav-aside.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.nav-aside-menu li a {
  display: block;
  padding: 15px 0px;
  color: #fff;
  border-bottom: 1px solid #323335;
}

.nav-aside-menu li a:hover, .nav-aside-menu li a:focus {
  color: #99CA3C;
}

.nav-aside-menu li.has-dropdown>a {
  cursor: pointer;
}

.nav-aside-menu li.has-dropdown>a:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  float: right;
}

.nav-aside-menu li.has-dropdown>.dropdown {
  display: none;
  margin-left: 30px;
  border-left: 1px solid #323335;
}

.nav-aside-menu li.has-dropdown.active>.dropdown {
  display: block;
}

.nav-aside-menu li.has-dropdown>.dropdown a {
  padding: 15px;
}

.nav-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.nav-close span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-close span:before, .nav-close span:after {
  content: "";
  display: block;
  width: 30px;
  background-color: #fff;
  height: 2px;
}

.nav-close span:before {
  -webkit-transform: translateY(0px) rotate(-135deg);
  -ms-transform: translateY(0px) rotate(-135deg);
  transform: translateY(0px) rotate(-135deg);
}

.nav-close span:after {
  -webkit-transform: translateY(-2px) rotate(135deg);
  -ms-transform: translateY(-2px) rotate(135deg);
  transform: translateY(-2px) rotate(135deg);
}


/*=========================================================
	STOCK PRICES
===========================================================*/
.stock {font-size:0.9em; margin-top: 10px; }



/*=========================================================
	PAGE HEADER
===========================================================*/

.static-header {
  position: relative;
  margin: 0;
  background-color: #1b1c1e;
  background: url("../img/DRA-Header-Home.jpg") no-repeat center;
  background-size: cover;
  min-height: 400px;
}

.static-header2 {
  position: relative;
  margin: 0;
  background-color: #1b1c1e;
  background: url("../img/DRA-Header01.jpg") no-repeat center;
  background-size: cover;
  min-height: 350px;
}


/* Style the video: 100% width and height to cover the entire window */
#Video {
    width:100%;
      height:400px;
      overflow: hidden;
    display: block;
	object-fit: cover;
}

/* Add some content at the bottom of the video/page */
.video-content {
width: 100%;
margin-top: -100px;
}



/*=========================================================
HEADER ANIMATION
===========================================================*/

animation {
  height: 400px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("../img/DRA-Header-Home.jpg"); 
  animation-name: move;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



@keyframes move {
  0%, 100% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
}




@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
   50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0 100%;
  }
  200% {
    background-position: 0 0;
  }
}

.test {
  position: relative;
  height: 100%;
  width: 100%;
  background: black url(../img/DRA-Header-Home.jpg);
  background-size: 120%;
  animation: panning 120s infinite linear;
}


/*=========================================================
END HEADER ANIMATION
===========================================================*/



.page-header-text {
	padding-top: 300px;
	margin-left: -60px;
}

.page-subheader-text {
	margin-left: -70px;
}
.subheader-text {
		margin-left: -55px;
}

#post-header {
  padding-top: 240px;
  padding-bottom: 80px;
}

.page-header .page-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-header .page-header-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 28, 30, 0)), color-stop(90%, rgba(27, 28, 30, 0.8)));
  background: linear-gradient(180deg, rgba(27, 28, 30, 0) 0%, rgba(27, 28, 30, 0.8) 90%);
}

.page-header  h1 {
  font-size: 41.053px;
  color: #FFF;
}

.page-header p.lead {
  font-size: 20.25px;
  color: #FFF;
}


.home-header-overlay {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 130px;
    height:   400px;
    background: rgba(153,202,60,0.6);
    transform: skew(330.90deg);
    right: 50px;
	margin-top: -21px;
}

.header-text {font-size: 45px; line-height: 34px; }

.header-overlay {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 130px;
    height:   350px;
    background: rgba(153,202,60,0.6);
    transform: skew(330.90deg);
    right: 50px;
	
}

.contact-header {
  position: relative;
  margin: 0;
  background-color: #1b1c1e;
  background: url("../img/Map.png") no-repeat center;
  background-size: cover;
  min-height: 580px;



}

.contact-header-text {
	padding-top: 20px;
	margin-left: -55px;
}


.noimage-header-text {
	padding-top: 20px;
	margin-left: -55px;
}


/*----------------------------*\
	SOCIAL
\*----------------------------*/






/*----------------------------*\
	GALLERY
\*----------------------------*/



/*=========================================================
	FOOTER
===========================================================*/

#footer {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #69737B;
}

#footer {
  color: #ffffff;
}

#footer a {
  color: #ffffff;
}

#footer a:hover, #footer a:focus {
  color: #99CA3C;
}

.footer {
  color: #ffffff;
}

.footer-logo {
  margin-bottom: 20px;	
}

.footer-logo img {max-width: 40% }

.footer-legal { text-align: left; font-size: 1.2rem;}
.footer-legal a { padding-left:7px; padding-right: 7px;  }

.footer-links { text-align: left }

.footer-nav {
  text-align: right;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}


.footer-social li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 80px
}

.footer-social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.footer-social li a:hover {

	color: #99CA3C;
}

.footer-subsidiaries {
	padding-top: 0px;
}
.footer-subsidiaries-logos { padding-right: 30px;
}

@media only screen and (max-width: 767px) {
	
	#footer {text-align: center; margin-left: auto; margin-right: auto; padding-top: 140px;}
	.footer-logo { margin-top: -160px; margin-bottom: 0px;	}
	.footer-social li { display: inline-block; margin-right: 3px; margin-bottom: 6px; padding-top: 15px; }
	.footer-subsidiaries {padding-top: 160px; padding-left: 60px;text-align: left;}
	.footer-links { text-align: left; padding-left: 60px; padding-bottom: 20px; }
	.footer-legal { text-align: center; font-size: 1rem; padding-top: 30px;}
	
}

/*----------------------------*\
	CONTACT
\*----------------------------*/

.contact li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 55px;
  padding-top: 5px;
  min-height: 40px;
}

.contact li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 40px;
  background: #fff;
  color: #99CA3C;
  border: 1px solid #e8eaed;
  line-height: 40px;
  border-radius: 50%;
}




/*=========================================================
	RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
	.hide-desktop {visibility: visible;}
	
#nav-bottom {display: none;}
.nav-btns { margin-right: -10px; margin-top: 20px;}
.nav-social {display: none;}
.nav-logo {float: left;margin-top: 0px;}
.nav-logo .logo>img {width: 60%;max-height: 50px;margin-top: -90px;padding-top: 5px}
	
.footer-nav {text-align: left;margin-bottom: 30px;}
}

@media only screen and (max-width: 767px) {
	.container {width: 100%;}
	
 p, h2, h3 {padding: 0 30px;}
	
h2 {font-size: 18px}
h3 {font-size: 15px;}
	p {font-size: 13px;}
	
animation { height: 250px; display:flex; align-items: center; justify-content: center; background-size: cover; background-image: url("../img/DRA-Header-Home.jpg"); }
.overview-copy {font-size: 1.5rem;}

.header-text   { font-size: 24px; line-height: 30px; padding-top: 5px;}
	
.green-highlight:after {width: 1em;}
.green-highlight {padding: .2em .8em .3em 1em;white-space: normal;}
.green-highlight-sub:after {width: 1em;}
.green-highlight-sub {padding: .4em .8em .3em 2em;margin-left: -20px;}
	

.page-header-text {padding-top: 150px; margin-left: 0px;}
.contact-header-text {padding-top: 0px; margin-left: 0px;}
.page-subheader-text { margin-left: -25px;}
.page-header h1 { font-size: 24px; }
.post-nav .prev-post { float: none; width: 100%; margin-bottom: 15px; padding-right: 0px;}
.post-nav .prev-post:last-child { margin-bottom: 0px;}
.post-nav .next-post { float: none; width: 100%; }
.post-nav .next-post { float: none; width: 100%; padding-left: 0px; text-align: left;}
.post-nav .next-post .post-img { margin-right: 15px; float: left; margin-left: 0px; }
	
.grey-bg {margin-left: 0px; margin-right: 0px;}
	
/*----------------------------*\
	ROOMY
\*----------------------------*/

.roomyT-50 { padding-top: 10px; }
.roomyT-20 { padding-top: 0px;}
.roomyB-20 { padding-bottom: 0px;}
.roomyLR-30 {padding: 0 50px;}
.roomyTB-80 {padding: 40px 0 15px;}

	
}



/* ACCORDION Green */
    .accordion { background-color: #99CA3C; color: #fff; cursor: pointer; padding: 18px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s; margin: 1rem 0rem;}
 	.accordion span { font-size: 2rem; font-weight: 600; color: #fff; line-height: 0.5rem; text-transform: uppercase; }
	.filter-hold button.accordion  { background-color: #ffffff; color: #000000; }
	.accordion:hover { background-color: #69737b; } /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.panel { padding: 0 18px; background-color: white; display: none; overflow: hidden; box-shadow: none; } /* Style the accordion panel. Note: hidden by default */
	button.accordion.collapsed:after { font-family: 'FontAwesome'; content: "\f068"; }
	button.accordion:after { font-family: 'FontAwesome'; content: "\f067"; color: #fff; font-weight: bold; float: right;  margin-left: 5px;  margin-right: 15px;}



/* ACCORDION Orange */
	.accordion-orange { background-color: #dc8b26; color: #fff; cursor: pointer; padding: 18px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s; margin: 1rem 0rem; }
	.accordion-orange span { font-size: 2rem; font-weight: 600; color: #fff; line-height: 0.5rem; text-transform: uppercase; }
	.accordion-orange:hover { background-color: #69737b; } /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	button.accordion-orange.collapsed:after { font-family: 'FontAwesome'; content: "\f068";  }
	button.accordion-orange:after { font-family: 'FontAwesome'; content: "\f067"; color: #fff; font-weight: bold; float: right;  margin-left: 5px; margin-right: 15px;}



/* ACCORDION Gold */
.accordion-gold { background-color: #be9459; color: #fff; cursor: pointer; padding: 18px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s; margin: 1rem 0rem; }
.accordion-gold span { font-size: 2rem; font-weight: 600; color: #fff; line-height: 0.5rem; text-transform: uppercase; }
.accordion-gold:hover { background-color: #69737b; } /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion-gold.collapsed:after { font-family: 'FontAwesome'; content: "\f068";  }
button.accordion-gold:after { font-family: 'FontAwesome'; content: "\f067"; color: #fff; font-weight: bold; float: right;  margin-left: 5px; margin-right: 15px;}



/* ACCORDION Burgundy */
.accordion-burgundy { background-color: #79232d; color: #fff; cursor: pointer; padding: 18px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s; margin: 1rem 0rem; }
.accordion-burgundy span { font-size: 2rem; font-weight: 600; color: #fff; line-height: 0.5rem; text-transform: uppercase; }
.accordion-burgundy:hover { background-color: #69737b; } /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion-burgundy.collapsed:after { font-family: 'FontAwesome'; content: "\f068";  }
button.accordion-burgundy:after { font-family: 'FontAwesome'; content: "\f067"; color: #fff; font-weight: bold; float: right;  margin-left: 5px; margin-right: 15px;}



/* ACCORDION Blue */
.accordion-blue { background-color: #4e878f; color: #fff; cursor: pointer; padding: 18px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s; margin: 1rem 0rem; }
.accordion-blue span { font-size: 2rem; font-weight: 600; color: #fff; line-height: 0.5rem; text-transform: uppercase; }
.accordion-blue:hover { background-color: #69737b; } /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion-blue.collapsed:after { font-family: 'FontAwesome'; content: "\f068";  }
button.accordion-blue:after { font-family: 'FontAwesome'; content: "\f067"; color: #fff; font-weight: bold; float: right;  margin-left: 5px;  margin-right: 15px;}


/* ACCORDION END */




@media only screen and (max-width: 767px) {
	.accordion span, .accordion-orange span, .accordion-burgundy span, .accordion-blue span, .accordion-gold span    {margin-left: 20px;  }
	
	}





.card-horizontal { display: flex; flex: 1 1 auto;}